## Data Science Tools and Ecosystem

#### In this notebook, Data Science Tools and Ecosystem are summarized.

#### Objectives
+ List popular languajes for data science
+ List popular libraries for data science
+ List popular tools for data science
+ Show examples of arithmetic operations in python

## Author
Sebastian Velasquez

###### Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. Julia

###### Some of the commonly used libraries used by Data Scientists include:
1. pandas
2. numpy
3. ggplot

###### Data science tools

| Data science tools |
|--------------------|
| Jupiter nootboks |
| Hadoop |
| TensorFlow |

### Below are a few examples of evaluating arithmetic expressions in Python

In [11]:
(3*4)+5
# This is a simple arithmetic expression to multiply then add integers

17

In [13]:
#This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335